<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>豆瓣电影TOP250数据可视化</title>
    <!-- Meta Description -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- CSS
    ================================================== -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!-- Twitter Bootstrap css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- jquery.fancybox  -->
    <link rel="stylesheet" href="static/css/jquery.fancybox.css">
    <!-- animate -->
    <link rel="stylesheet" href="static/css/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="static/css/main.css">
    <!-- media-queries -->
    <link rel="stylesheet" href="static/css/media-queries.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="static/js/modernizr-2.6.2.min.js"></script>

</head>

<body id="body">

<!-- preloader -->
<div id="preloader">
    <img src="static/img/preloader.gif" alt="Preloader">
</div>
<!-- end preloader -->

<!--
Fixed Navigation
==================================== -->
<header id="navigation" class="navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <a class="navbar-brand" href="#body">
                <h1 id="logo">
                    <img src="static/img/logo.png" alt="Brandi">
                </h1>
            </a>
            <!-- /logo -->
        </div>
        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right">
            <ul  class="nav navbar-nav">
                <li class="current"><a href="/">首页</a></li>
                <li><a href="/movie">电影</a></li>
                <li><a href="/score">评分</a></li>
                <li><a href="/word">词云</a></li>
                <li><a href="/team">团队</a></li>
            </ul>
        </nav>
        <!-- /main nav -->

    </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<!--
Some fun facts
==================================== -->

<section id="facts" class="facts">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row number-counters">

                <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                    <h2>豆瓣电影TOP250数据分析</h2>
                    <p style="font-size: 20px">应用Python爬虫、Flask框架、Echars、WordCloud等技术实现</p>
                    <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
                </div>

                <!-- first count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <a href="/movie">
                        <div class="counters-item">
                            <i class="fa fa-clock-o fa-3x"></i>
                            <strong data-to="250">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>经典电影</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms"
                     data-wow-delay="300ms">
                    <a href="score">
                        <div class="counters-item">
                            <i class="fa fa-trophy fa-3x"></i>
                            <strong data-to="120">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>评分统计</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms"
                     data-wow-delay="600ms">
                    <a href="/word">
                        <div class="counters-item">
                            <i class="fa fa-rocket fa-3x"></i>
                            <strong data-to="360">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p> 词汇统计 </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms"
                     data-wow-delay="900ms">
                    <a href="/team">
                        <div class="counters-item">
                            <i class="fa fa-users fa-3x"></i>
                            <strong data-to="6454">0</strong>
                            <!-- Set Your Number here. i,e. data-to="56" -->
                            <p>团队成员</p>
                        </div>
                    </a>
                </div>
                <!-- end first count item -->

            </div>
        </div>
    </div>
</section>

<!--
End Some fun facts
==================================== -->

<!-- Essential jQuery Plugins
================================================== -->
<!-- Main jQuery -->
<script src="static/js/jquery-1.11.1.min.js"></script>
<!-- Single Page Nav -->
<script src="static/js/jquery.singlePageNav.min.js"></script>
<!-- Twitter Bootstrap -->
<script src="static/js/bootstrap.min.js"></script>
<!-- jquery.fancybox.pack -->
<script src="static/js/jquery.fancybox.pack.js"></script>
<!-- jquery.mixitup.min -->
<script src="static/js/jquery.mixitup.min.js"></script>
<!-- jquery.parallax -->
<script src="static/js/jquery.parallax-1.1.3.js"></script>
<!-- jquery.countTo -->
<script src="static/js/jquery-countTo.js"></script>
<!-- jquery.appear -->
<script src="static/js/jquery.appear.js"></script>
<!-- Contact form validation -->
<script src="static/js/jquery.form.js"></script>
<script src="static/js/jquery.validate.min.js"></script>
<!-- jquery easing -->
<script src="static/js/jquery.easing.min.js"></script>
<!-- jquery easing -->
<script src="static/js/wow.min.js"></script>
<script>
    var wow = new WOW({
            boxClass: 'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset: 120,          // distance to the element when triggering the animation (default is 0)
            mobile: false,       // trigger animations on mobile devices (default is true)
            live: true        // act on asynchronously loaded content (default is true)
        }
    );
    wow.init();
</script>
<!-- Custom Functions -->
<script src="static/js/custom.js"></script>

<script type="text/javascript">
    $(function () {
        /* ========================================================================= */
        /*	Contact Form
        /* ========================================================================= */

        $('#contact-form').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "come on, you have a name don't you?",
                    minlength: "your name must consist of at least 2 characters"
                },
                email: {
                    required: "no email, no message"
                },
                message: {
                    required: "um...yea, you have to write something to send this form.",
                    minlength: "thats all? really?"
                }
            },
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: "POST",
                    data: $(form).serialize(),
                    url: "process.php",
                    success: function () {
                        $('#contact-form :input').attr('disabled', 'disabled');
                        $('#contact-form').fadeTo("slow", 0.15, function () {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor', 'default');
                            $('#success').fadeIn();
                        });
                    },
                    error: function () {
                        $('#contact-form').fadeTo("slow", 0.15, function () {
                            $('#error').fadeIn();
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>
